body {
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

header {
    background: red;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 28px;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
}

.card {
    background: #111;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #333;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h2 {
    margin-top: 10px;
    font-size: 22px;
}

.card p {
    margin-top: 8px;
    line-height: 1.5;
    font-size: 15px;
}
  